body {
    font-family: 'Roboto', sans-serif;
}

/* Page header with logo images and text */
.mad-lib-header {
    width: 45em;
    margin: 0 auto;
    border: 1px solid black;
    border-bottom: 0;
    text-align: center;
}

/* Clearfix for floated header images */
.mad-lib-header:after {
    content: "";
    display: block;
    clear: both;
}

/* Smile image logo styles */
.mad-lib-smile {
    padding: 10px 55px;
    height: 115px;
    float: left;
    border-right: 1px solid black;
}

/* Heading text */
.header-text {
    float: left;
}

.header-text h1 {
    margin: 0 0 10px 0;
    padding: 0 84px;
    font-size: 3em;
}

/* 'ngMadLibs' logo image styles */
.mad-lib-logo {
    height: 55px;
    margin: 8px 0 0 0;
}

/* Main content */
.main-container {
    margin: 0 auto;
    width: 45em;
    border: 1px solid black;
}

/* Input field styles */
.input-container {
    border-bottom: 1px solid black;
}

/* Clearfix for floated input fields */
.input-container:after {
    content: "";
    display: block;
    clear: both;
}

.input-container {
    padding: 20px 10% 40px 10%;
}

/* 1/3 width column for input field styling and placement */
.col-1-3 {
    width: 33%;
    float: left;
}

.col-1-3 input {
    width: 90%;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

/* MadLib text container styles */
.mad-lib-container {
    padding: 20px 10%;
}
